@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #43bf47;
  --color-bg: #ffffff;
  --color-foreground: #172554;
}

.dark {
  --color-bg: #0f0f10;
  --color-foreground: #ffffff;
}

@layer utilities {
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-foreground);
}
